<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" src="../style/css/chat_page.css">
</head>
<body>
    <div class="container-fluid">
        
        <div class="wrapper">
            <!-- Navigation Bar -->
            <div style="background-color: aqua;">
                <h5>omkar Profile</h5>
            </div>
            <div style="background-color: blueviolet;">
                <h5> Aarti status</h5>
            </div>
                <nav id="sidebar">
                    <!-- Room Selection -->
                    <div class="active" style="background-color: blue;">
                        <h4>Rooms</h4>
                        {% for room in rooms %}
                        <p class="select-room">{{ room }}</p>
                        {% endfor %}
        
                    </div>
                </nav>
                <div id="content">
                    <!-- Message Area -->
                    <div id="message_area" style="background-color: blueviolet;">
                        <!-- <h1>Chatting Data</h1> -->
                        <!-- {{ username }} -->
                    </div>
                    <!-- Input Area  -->
                    <div style="background-color: crimson;">
                        <input type="text" id="input_msg" placeholder="Type Message here ...">
                        <input type="submit" id = "send_msg" value="send" >
                    </div>
                </div>
        </div>
        
    </div>

    
    <script type="text/javascript">
     const username = `{{ username }}`;
     
    </script>
       
   
    <!-- keyup event on send button  -->
    <script>
        document.addEventListener('DOMContentLoaded', () =>{
            let msg = document.querySelector('#input_msg');
            msg.addEventListener('keyup', event  => {
                event.preventDefault();
                if(event.keyCode === 13){
                    document.querySelector('#send_msg').click();
                }
            });
        });
    </script>

    <!-- SocketIO JS  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename= 'scripts/socketio.js') }}"></script>
</body>
</html>