{% from 'macro_index.html' import displayField  %}
{% extends "login_layout.html" %}

{% block title %} Sign-Up Page {% endblock %}

{% block body %}
     <form method="POST">
        <div>
            {{ displayField(form.username, 'username') }}
        </div>
            
        <div>
            {{ displayField(form.password, 'password') }}
        </div>
        <div>
            {{ displayField(form.confirm_password, 'Retype password') }}
        </div>
         <div>
             {{form.submit}}
         </div>
         <div>
             {{form.csrf_token}}
         </div>
     </form>          

{% endblock %}