<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- favicon.icon error -->
    <link rel="shortcut icon" href="#" /> 
</head>
<body>
    {% with messages = get_flashed_messages( with_categories = true ) %}
        {% if messages %}
            <!-- ('categories', 'messages') -->
                 <!--( 0       ,    1    )-->
                Categories : {{ messages[0][0] }}   
                <!-- messages[0][0] ->('categories') -->
                {{ messages[0][1] }}                   
                <!-- messages[0][1] ->('messages') -->
        {% endif %}
    {% endwith %}
    {% block body %}
      
    {% endblock %}
    
</body>
</html>