{% extends 'login_layout.html' %}
{% from 'macro_index.html' import displayField %}

{% block title %}
Login Page
{% endblock %}

{% block body %}
    <form action="{{ url_for('login') }}" method="POST">
        <div>
            {{ displayField(form.username, 'username') }}
        </div>
        <div>
            {{ displayField(form.password, 'password') }}
        </div>
        <div>
            {{ form.submit }}
        </div>
        <div>
            {{ form.csrf_token }}
        </div>
    </form>
{% endblock %}