{% macro displayField(fieldName, placeholderName) %}

<div>
    {{ fieldName(class = 'form-control',
    placeholder = placeholderName, **kwargs) }}

   <ul class="error_msg">
           {% for error in fieldName.errors %}
           <li>{{ error }}</li>
           {% endfor %}
   </ul>
</div>
{% endmacro %}